body
{
    background-color: white;
    color: pink;
}

h3
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

#result_of_objects, #result_of_accuracy
{
    color: yellow;
}

.copy_right_footer
{
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(5, 247, 1);
}